<div ng-include="'components/navbar/navbar.html'"></div>

<toaster-container></toaster-container>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="postboard in postboards">
        <li><a href="/postboard/{{postboard._id}}" tooltip="{{postboard.name}}"><button type="button" class="btn btn-lg btn-success">{{postboard.name}}</button></a></li>
      </ul>
    </div>
  </div>

  <button class="dropzone" dropzone="dropzoneConfig">
    Drag and drop files here or click to upload
  </button>

  <form class="postboard-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new postboard here." ng-model="newPostboard">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addPostboard()">Add New</button>
      </span>
    </p>
  </form>

  <!--    <input type="file" ngf-select="onFileSelect($files)" ngf-multiple="false"> -->

   watching model:
    <div class="btn btn-lg btn-success" ngf-select ng-model="files">Upload using model $watch</div>
    Drop File:
    <div ngf-drop ng-model="files" class="drop-box" ngf-select
        ngf-drag-over-class="{accept:'dragover-accept', reject:'dragover-accept', delay:100}" ngf-multiple="false" ngf-allow-dir="false"
        ngf-accept="'*.3csb'">Drop Post-it® Plus 3csb file here</div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

</div>

<footer class="footer">
  <div class="container">
    <p>Angular Fullstack v2.0.13 |
      <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
      <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
    </div>
  </footer>
